* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    background-image: url("../images/forgotbg.avif");
	background-color: #f7f7f777;
	font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: absolute;
	width: 500px;
	top:50%;
    left:50%;
	padding: 50px 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
    transform: translate(-50%,-50%);
}

h1 {
	margin-bottom: 30px;
	text-align: center;
	color: #333;
}
form{
    display: flex;
    flex-direction: column;
}

form label {
	display: block;
    font-size: 16px;
	margin-bottom: 10px;
	color: #666;
}

form input[type="email"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #ddd;
	font-size: 16px;
	margin-bottom: 5px;
    outline: none;
}

form input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
	background-color: #087d20;
}

form input.error[type="email"] {
	border-color: #ff0000;
}

form .error-message {
	color: #ff0000;
	font-size: 12px;
	margin-bottom: 20px;
}

