*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-image: url("../images/homebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
}

.blur{
    width:100%;
    height:24vh;
    background-color: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(5px);
    position: fixed;
    top:0vh;
    z-index: 1;
}



.subnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: black;
    width:20%;
    height:6vh;
    margin:0 auto;
    position:sticky;
    top:8vh;
    z-index: 1;
    border-radius: 30px;
    border:2px solid gold;
    border-bottom: none;
    /* padding: 20px; */
}

.subnav1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: black;
    width:50%;
    height:6vh;
    margin:0 auto 50px;
    position:sticky;
    top:16vh;
    z-index: 1;
    border-radius: 30px;
    border:2px solid gold;
    border-bottom: none;
    /* padding: 20px; */
}



.subnav a,.subnav1 a{
    text-decoration: none;
    font-size: 15px;
    color:white;
    display: block;
    align-content: center;
    border-radius: 30px;
}

.subnav1 .category-link.active, .subnav .active{
    color:rgb(224, 7, 7);
}

.item-container{
    position: relative;
    display:flex;
    width:90%;
    height: auto;
    column-gap: 30px;
    row-gap: 30px;
    padding: 40px 40px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.825);
    backdrop-filter: blur(5px);
    margin: 40px auto;
    border-radius: 10px;
    z-index: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    border-radius: 5px;
    /* margin-bottom: 20px; */
    cursor: pointer;
    border:1px solid rgb(229, 225, 225);
    background-color: antiquewhite;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card:hover {
    transform: scale(1.03);
    opacity:0.8;
}

.card img {
    border-radius: 5px 5px 0 0;
    width:100%;
    height:250px;
    transition: all 1s;
}


.containers {
    padding: 2px 16px;
    text-align: left;
    line-height: 2;
}

.containers h4{
    font-size: 15px;
    text-align: center;
}

.containers a{
    display: block;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: green;
    color:white;
    width:100px;
    border-radius: 4px;
    margin:10px auto;
}


/* slideshow */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.container{
    width: 500px;
    margin:50px auto;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
    z-index: 1;
}

/*Area of images*/
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img{
    width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(0%); 
    }
}
