body{
    background-image: url("../images/forgotbg.avif");
    background-color: #f7f7f777;
	font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html{
    font-size: 10px;
}

h1 {
	margin-bottom: 30px;
	text-align: center;
	color: #333;
}

.container {
    position: absolute;
	width: 450px;
	top:50%;
    left:50%;
	padding: 30px 50px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
    transform: translate(-50%,-50%);
}

form{
    display: flex;
    flex-direction: column;
}

form label {
	display: block;
	color: #666;
    font-size: 17px;
}

form input[type="password"] {
	width: 90%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #8a8383;
	font-size: 16px;
	margin-bottom: 10px;
    outline: none;
}

form input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
	background-color: #0b9409;
}

form input.error[type="email"],
form input.error[type="password"] {
	border-color: #ff0000;
}

form .error-message {
	color: #ff0000;
	font-size: 12px;
	margin-bottom: 20px;
}
