*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-image: url("../images/ticbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.scoreboard{
    position:absolute;
    top:10%;
    left:0;
    width:300px;
    height:20vh;
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.995);
    border-radius:10px;
    border:2px solid white;
    transition: 0.5s linear;
    z-index: -1;
}

.scoreboard h3{
    color:white;
    margin:0px;
    font-size: 20px;
}

.cell{
    width: 150px;
    height: 150px;
    border: 5px solid gold;
    line-height: 150px;
    font-size: 100px;
    color: rgb(38, 207, 38);
    cursor: pointer;
}
#gameContainer{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#gameContainer h1{
    font-size: 50px;
    color:blue;
    margin-bottom: 20px;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
    margin: auto;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom: none;
}


.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

#statusText{
    color:gold;
    margin: 0;
    font-size: 30px;
}

#screen1,#screen2{
    width:50vw;
    height:100%;
    background-color: rgba(50, 52, 50, 0.312);
    transition:1s left linear;
    z-index: 0;
}

#screen1{
    position:absolute;
    left:0vw;
    top:0vh;
}

#screen2{
    position: absolute;
    left:50vw;
    top:0vh;
}

#screen1 img,#screen2 img{
    width:100%;
    height:100%
}


.buttons{
    position: absolute;
    top:60%;
    left:45.6%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    width:140px;
    height:120px;
}
#start,#exit{
    text-decoration: none;
    background-color: green;
    color:white;
    padding:10px 40px;
    border-radius:8px;
    border: 2px solid white; 
    cursor: pointer;
    transition: 0.5s;
    font-size: 14px;
}

 #exit{ 
    background-color: rgb(160, 16, 16);
} 

#start:hover{
    background-color: #32CD32;
}



/* Responsive */
@media(max-width:720px){
    .buttons{
        top:55%;
        left:47%;
        width:100px; 
    }

    #start,#exit{
        padding: 12px 27px;
        font-size: 13px;
    }

    #gameContainer h1{
        font-size: 30px;
        margin-top: 80px;
    }
    #cellContainer{
        width: 320px;;
        margin-top: 40px;
    }
    .cell{
        width: 120px;
        height: 120px;
        border: 3px solid gold;
        line-height: 120px;
        font-size: 90px;
    }
    .scoreboard{
        width:200px;
        height: 15vh;
    }
    .scoreboard h3{
        font-size: 25px;
    }

    #statusText{
        font-size: 22px;
    }
    
}

@media(max-width:480px){
    .buttons{
        top:55%;
        left:45%;
        width:100px; 
    }

    #start,#exit{
        padding: 10px 25px;
        font-size: 12px;
    }
    #gameContainer h1{
        font-size: 25px;
    }
    #cellContainer{
        width: 300px;;
    }
    .cell{
        width: 100px;
        height: 100px;
        border: 2px solid gold;
        line-height: 100px;
        font-size: 75px;
    }
    #statusText, .scoreboard h3{
        font-size: 20px;
    }
    .scoreboard{
        width:150px;
        height: 15vh;
    }
    .scoreboard h3{
        font-size: 20px;
    }

}



